<!--<app-toolbar [title]="'100 Angular Challange'">
<ul>
  <li>Components</li>
  <li>Directices</li>
  <li>Services</li>
  <li>Pipes</li>
  <li>Other</li>
</ul>
</app-toolbar>-->
<app-titlebar [title]="'100 Angular Component'">
  <ul>
    <li>Component</li>
    <li>Directerice</li>
    <li>Service</li>
    <li>Pipes</li>
    <li>Other</li>
  </ul>
</app-titlebar>
<app-progressbar [iconClasses]="'fa-solid fa-info'"
  [title]="'Progress Bar'"
  [subtitle]="'Components'"
  body [value]="progressValue">
<button>Update</button>
</app-progressbar>

<app-accordion [iconClasses]="'fa-solid fa-info'"
  [title]="'accordion'"
  [subtitle]="'Components'"></app-accordion>
<app-card
  [iconClasses]="'fa-solid fa-info'"
  [title]="'card '"
  [subtitle]="'Components'"
>
</app-card>

